.team-member {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;

  &__name {
    padding-top: 24px;
    margin-bottom: 5px;
    text-align: center;
    font-family: $main-font;
    font-size: 14px;
    text-transform: uppercase;
    color: $title-color;
    }

  &__occupation {
    text-align: center;
    font-family: $text-font;
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
  }
}