* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
}
/* HEADER */
.header {
  padding: 40px 0;
  background-image: url(../img/ban768.jpg);
  background-position: center;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.header form {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}
.log-button {
  width: 90px;
  height: 35px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.log-button:hover {
  border: 2px solid #fff;
  border-radius: 15px;
}
.logo {
  padding-top: 8px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}
.header-title {
  margin-bottom: 15px;
  padding: 0 5px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.header-text {
  margin-bottom: 16px;
  padding: 0 40px;
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.main-button {
  max-width: 300px;
  height: 40px;
  display: block;
  margin: auto;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.main-button:hover {
  transform: scale(1.05);
}
.header-button {
  margin-bottom: 140px;
  background-color: #ff4e50;
  color: #fff;
}
/* PARTNERS SECTION */
.partners {
  padding-top: 65px;
  padding-bottom: 55px;
  justify-content: center;
  text-align: center;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  color: #333;
}
.partners-title {
  font-size: 22px;
  margin-bottom: 30px;
}
.partner-card {
  max-width: 470px;
  margin-bottom: 28px;
}
.partner-name {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 14px;
}
.partner-desc {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.img-wrap {
  position: relative;
  width: 121px;
  height: 121px;
  margin: auto;
}
.img-wrap::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  background-image: url(../img/shape1.png);
  background-color: #ff4e50;
  background-repeat: no-repeat;
  background-position: 45% 45%;
  border: 4px solid #fff;
  border-radius: 20px;
}
.img-wrap:hover::before {
  transform: scale(1.1);
}
.img-wrap-second::before {
  background-image: url(../img/shape2.png);
  background-color: #ffa507;
}
.img-wrap-third::before {
  background-image: url(../img/shape3.png);
  background-color: #1cd7ad;
}
.img-wrap-foutrh::before {
  background-image: url(../img/shape4.png);
  background-color: #4e73db;
}
.partners-button {
  background-color: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50;
}
/* MEDIA 768 */
@media (min-width: 768px) {
  .header {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 95px;
    background-image: url(../img/baner1440.jpg);
  }
  .header form {
      justify-content: flex-end;
  }
  .logo {
      display: flex;
      justify-content: flex-start;
  }
  .header-title {
    margin: 35px auto;
    max-width: 80%;
    font-size: 52px;
  }
  .header-text {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .partner-card {
    margin-bottom: 60px;
  }
}
/* MEDIA 940 */
@media (min-width: 940px) {
  .page-wrap {
    max-width: 1440px;
  }
  .header {
    padding-left: 0;
    padding-right: 0;
    background-image: url(../img/baner1440.jpg);
  }
}
