/* * {
  outline: 1px solid;
} */

body {
  background-color: #ffffff;
}
.page-wrapper {
  width: 1110px;
  margin: auto;
}

/* HEADER */
.logo {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.main-nav {
  display: inline-block;
  width: 1027px;
}
.nav-list {
  margin-left: auto;
  width: 467px;
  padding: 0;
}
.nav-item {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item-active .nav-link {
  color: #1abc9c;
}
/* Сделала через класс, я так тебя поняла по прошлому дз, а вообще правильно через псеврокласс, верно?: */
.nav-item:active .nav-link {
  color: #1abc9c;
}
.nav-link {
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  color: #0f0101;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.28px;
}

/* SLIDER */
.hiden {
  display: none;
}
.slider {
  position: relative;
  width: 1110px;
  height: 600px;
  background-image: url(../img/slide4.png);
  background-position-x: center;
  font-family: 'robotoblack', sans-serif;
  color: #fff;
  line-height: 0;
}
.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-title {
  position: absolute;
  left: 182px;
  top: 198px;
  margin: 0;
  /* font-weight: 900; */
  font-size: 60px;
  line-height: 82px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}
.slider-text {
  position: absolute;
  top: 280px;
  left: 182px;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.slider-ctrl {
  position: absolute;
  width: 105px;
  height: 105px;
  border: none;
  background-color: #7fd9c7;
  opacity: .65;
}
.slider-ctrl-prev {
  top: 225px;
  left: 0;
}
.slider-ctrl-prev::after {
  content: url(../img/1.png);
}
.slider-ctrl-next {
  top: 225px;
  right: 0;
}
.slider-ctrl-next::after {
  content: url(../img/2.png);
}
.slider-ctrl:active {
  background-color: #1abc9c;
}

/* GALERY */
.galery {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #e9f0fd;
}
.galery-title {
  margin: 0;
  margin-bottom: 118px;
  text-align: center;
  color: #515151;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.96px;
}
.galery-title::after {
  content: '';
  display: block;
  width: 164px;
  height: 8px;
  background-image: url(../img/rectangle3.png);
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  margin: 0px auto 0;

}
.product-cards-wraper {
  font-size: 18px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  color: #fff;
  line-height: 0;
}
.galery-product-card {
  position: relative;
  display: inline-block;
  margin: 0 25px 0 0;
}
figure:last-child {
  margin-right: 0;
}
figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #323232;
}
.product-name {
  display: inline-block;
  margin: 0;
  padding: 6px 0 3px 14px;
  box-sizing: border-box;
  width: 198px;
  line-height: 32px;
  background-color: #323232;
}
.product-cost {
  position: absolute;
  right: 0;
  display: inline-block;
  margin: 0;
  /* -webkit-margin-after: 0em; */
  padding: 6px 0 3px 12px;
  box-sizing: border-box;
  width: 52px;
  line-height: 32px;
  background-color: rgba(255, 255, 255, 0.44);
}
.product-cost::before {
  content: "\0024";
}
.wraper-buttons-hiden {
  width: 235px;
  height: 260px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, .55);
}
.button-top {
  width: 49px;
  padding: 12px 6px 8px 6px;
  position: absolute;
  top: 79px;
  background-color: transparent;
  border: 1px solid;
  border-color: #fff;
}
.button1 {
  left: 35px;
}
.button2 {
  left: 94px;
  background-color: #1abc9c;

}
.button3 {
  left: 151px;
}
.button1::after {
  content: url(../img/but1.png);
}
.button2::after {
  content: url(../img/but2.png);
}
.button3::after {
  content: url(../img/but3.png);
}
.button4 {
  position: absolute;
  left: 35px;
  top: 136px;
  width: 164px;
  padding: 3px 6px 7px 17px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #fff;
  background-color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.28px;
  color: #fff;
  text-transform: uppercase;
}
.button4:before {
  content: url(../img/but.png);
  position: relative;
  top: 8px;
  right: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}
.wraper-buttons-hiden {
    visibility: hidden;
}
.galery-product-card:hover>.wraper-buttons-hiden {
  visibility: visible;
}
.galery-product-card:hover .product-name {
  background-color: #1abc9c;
}
.galery-product-card:hover .product-cost {
  background-color: #7fd9c7;
}
.galery-product-card:hover figcaption {
  background-color: #1abc9c;
}

/* FOOTER */
footer {
  padding-bottom: 34px;
  text-align: center;
  background-color: #323232;
}
.footer-text {
  margin: 0;
  padding-top: 28px;
  padding-right: 12px;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.32px;
  color: #fff;
}
.footer-text span {
  color: #1abc9c;
}
