* {
    outline: 1px solid black;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }

.courses-info {
    margin: auto;
    margin-bottom: calculateRem(55px);
    max-width: 416px;
    padding: calculateRem(50px);
    // padding: 47px 57px 45px;
    // padding: 2.94rem 2.81rem 3.56rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: -3px 3px 42px -15px rgba(0,0,0,0.75);

    @include mobile {
        min-width: 320px;
        display: block;
    }
    
    &__item {
        align-self: flex-end;
        box-sizing: border-box;
        width: 50%;
        font-family: $main-font;
        font-size: $title-h4-font-size;
        font-weight: 900;
        line-height: calculateRem(18px);
        text-transform: uppercase;

        @include mobile {
            width: 100%;
            margin: 0 auto 20px;
            text-align: center;
            display: block;
        }
            &:nth-of-type(odd) {
                text-align: end;
                padding-right: calculateRem(2px);
                color: $title-light-color;
            } 
            &:nth-of-type(even) {
                padding-left: calculateRem(5px);
                @include mobile {
                    text-align: right;
                }
            }
        &--no-margin-bottom {
            margin-bottom: calculateRem(3px);
        }
        &--no-margin-top {
            margin-top: 0;
        }
        &--border {
            display: inline-block;
            border-top: calculateRem(3px) solid #fff;
        }
        &--inline {
            background-color: $title-dark-color;
        }
        &--crossed-out {
            position: relative;
        }
        &--crossed-out::after {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
            content: "";
            display: block;
            width: calculateRem(64px);
            height: calculateRem(20px);
            background-image: url(../../img/stick1.png);
        }
        
    }
    &__bonus {
        font-family: $main-font;
        font-size: calculateRem(14px);
        line-height: calculateRem(21px);
        font-weight: 500;
        color: $mark-color;
    }
    &__bonus::before {
        content: "";
            float: left;
            margin-right: calculateRem(25px);
            margin-left: calculateRem(30px);
            width: calculateRem(20px);
            height: 100%;
            background-image: url(../../img/stick2.png);
            background-position: center;
            background-repeat: no-repeat;
    }
}

.courses-button {
    display: block;
    margin: auto;
    margin-bottom: calculateRem(90px);
    min-width: 336px;
    height: 48px;
    font-family: $main-font;
    font-size: calculateRem(14px);
    font-weight: 900;
    text-transform: uppercase;
    color: $title-light-color;
    background-color: $mark-color;
    border: none;
    box-shadow: -3px 3px 42px -15px rgba(0,0,0,0.75);
}
  